.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.name {
    display: flex;
    flex-direction: row;
}


label {
    margin: 10px;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    margin-bottom: 20px;
}